body {
	margin: 0;
	padding: 0;
}
.header {
	background-image: url("../img/volgatti.jpg"); 
	background-size: cover;
    height: 100vh;
    text-align: center;
    background-position: center center;
	background-repeat: no-repeat; 
}

.fon{
	background: rgba(0,0,0,0.5);

}
.container {
	margin: 0 auto;	
	max-width: 1200px;
}

.header__inner{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100vh;
}

.threejs {
	text-decoration: none;
	margin: 0 0 65px;
	display: inline-block;
	background-color: transparent;
	text-transform: uppercase;
	color: #fff;
	font-size: 100px;
	transition: color ease-out 1s;
	letter-spacing: 40px;
}

.threejs:hover {
	color: #f55;
}

